body,
html {
  margin: 0%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #19a2ae;
  height: 100vh;
  width: 100vw;
  background-size: contain;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto;
  /* background: url('images/bg-pattern-top.svg') left top no-repeat, */
  /* url('./images/bg-pattern-bottom.svg') right bottom no-repeat; */
  /* background-color: rgb(39, 161, 170); */
}
body::before,
body::after {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
}
body::before {
  top: 0;
  left: 0;
  background: url('./images/bg-pattern-top.svg') no-repeat bottom right;
}
body::after {
  top: 100%;
  left: 100%;
  background: url('./images/bg-pattern-bottom.svg') no-repeat top left;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 350px;
  max-height: 375px;
  border-radius: 10px;
  z-index: 2;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.in-bg {
  background: url('./images/bg-pattern-card.svg');
  background-size: contain;
  position: relative;
  z-index: 1;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-background {
  max-width: 100%;
  border-radius: 7px;
}
.on-top {
  position: relative;
  top: -50px;
  z-index: 2;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
}
.footer {
  grid-row: 2 / 3;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
}

.follow {
  grid-column: 1 / 2;
}
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.like {
  grid-column: 2/3;
}
.photo {
  grid-column: 3 / 4;
}
.one {
  grid-row: 1/2;
}
.two {
  grid-row: 2 /3;
}
.bigify {
  font-size: 20px;
}
