body,
html {
    margin: 0%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
    background-color: hsl(185, 75%, 39%);
    background-image: url('./images/bg-pattern-top.svg'),
        url('./images/bg-pattern-bottom.svg');
    background-position: top 160% left -100%, bottom 200% right -80%;
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);
}

.card {
    background-color: white;
    width: 350px;
    height: 360px;
    border-radius: 5%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 35% 30%;
    overflow: hidden;
    font-family: inherit;
}
.in-bg {
    background: url('./images/bg-pattern-card.svg');
    background-size: contain;
    height: 100%;
    grid-column: span 1;
    grid-row: 1/2;
}
.top {
    height: 100%;
    width: 100%;
    grid-column: span 1;
    grid-row: 2/3;
    position: relative;
    border-bottom: 1px solid hsl(227, 10%, 46%);
}
.info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.info div {
    margin-top: 15%;
    width: 100%;
}
.name {
    font-weight: 700;
}
.age {
    font-weight: 400;
    margin-left: 2%;
    color: hsl(227, 10%, 46%);
}
.location {
    margin-top: 5%;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.on-top {
    position: absolute;
    top: -30%;
    left: 37%;
}
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
}
.footer {
    grid-row: 2 / 3;
}

.bottom {
    grid-row: 3/4;
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    margin: auto;
    height: 100%;
}

.follow {
    grid-column: 1 / 2;
}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.like {
    grid-column: 2/3;
}
.photo {
    grid-column: 3 / 4;
}
.one {
    grid-row: 1/2;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two {
    grid-row: 2 /3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    font-size: smaller;
    color: hsl(227, 10%, 46%);
}

@media all and (max-width: 765px) {
    body {
        background-size: 500px 500px;
        background-position: top -100% left 210%, bottom -160% right 210%;
    }
    .card {
        width: 80%;
        height: 60%;
    }
    .circle {
        width: 30%;
        height: auto;
    }
    .on-top {
        top: -28%;
        left: 35%;
    }
}
